<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/about.css">
        <title>Niner Miner | About</title>
    </head>
    <body>
        <header>
            <span>What is Niner Miner?</span>
        </header>
        <div class="introduction">
            <h2>E-Commerce for the UNCC Community</h2>
            <p>
                Niner Miner is a web application similar to services like Facebook
                Marketplace or OfferUp where people can buy or sell items to one another
                in an open marketplace. <br><br>What separates Niner Miner is that all accounts
                are linked to a UNCC email address, which decreases bad behavior and sketchy
                deals. <br><br>Anyone who violates the Terms of Service can and will be banned based
                on the severity of their infraction and that email will be blacklisted from 
                the Niner Miner service indefinitely.<br><br> Likewise, items can only be sold
                on campus, so there's no need to worry about shipping. You can select one of many
                locations on campus to meet with a buyer or seller before committing to a purchase.
            </p>
        </div>
        <div class="requirements">
            <h2>Requirements</h2>
            <p>
                In order to use the Niner Miner application, you
                will need:
            </p>
            <ul>
                <li>an active UNCC email address</li>
                <li>your UNCC ID number</li>
            </ul>
            <p>
                After sign up, a verification code will be sent to the given email
                to help verify that you are actually a UNCC student and not some
                imposter!
            </p>
        </div>
        <div class="dev-team">
            <h2>Meet the Dev Team</h2>
            <div class="dev-container">
                <div class="dev-card">
                    <div class="dev-card-content">
                        <img src="../static/img/placeholder_account_img.jpg".>
                        <p>
                            Name: Oviya Manoharan<br>
                            Role: Scrum Master & Backend Dev<br>
                        </p>
                    </div>
                </div>
                <div class="dev-card">
                    <div class="dev-card-content">
                        <img src="../static/img/placeholder_account_img.jpg".>
                        <p>
                            Name: Christian Madajski<br>
                            Role: Lead Architect & Frontend Dev<br>
                        </p>
                    </div>
                </div>
                <div class="dev-card">
                    <div class="dev-card-content">
                        <img src="../static/img/placeholder_account_img.jpg".>
                        <p>
                            Name: Hinal Makadiya<br>
                            Role: Database Designer<br>
                        </p>
                    </div>
                </div>
                <div class="dev-card">
                    <div class="dev-card-content">
                        <img src="../static/img/placeholder_account_img.jpg".>
                        <p>
                            Name: Drew Moore<br>
                            Role: Lead Frontend Dev & Problem Solver<br>
                        </p>
                    </div>
                </div>
                <div class="dev-card">
                    <div class="dev-card-content">
                        <img src="../static/img/placeholder_account_img.jpg".>
                        <p>
                            Name: Dane Medlin<br>
                            Role: Lead Designer<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>