{% extends "navbar.html" %}
{% block links %}/static/css/account_reset_password.css{% endblock %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="columns-container">
    <div class="left-column">
        <div class="account-options">
            <a href="/account">Account Overview</a>
            <a href="/account_edit">Edit Account</a>
            <a class="active" href="/account_reset_password">Change Password</a>
            <a href="/billing">Billing and Payments</a>
            <a href="/account_delete">Delete Account</a>
        </div>
    </div>
    <div class="right-column">
        <form action="/account_reset_password", method="POST">
            {% if errors['current_password'] %}
            <div class="error">
                <span>{{ errors['current_password_str'] }}</span>
            </div>
            {% endif %}
            <input type="password" name="current_password" placeholder="Current Password" autofocus>
            {% if errors['new_password'] %}
            {% for message in errors['new_password_str'] %}
            <div class="error">
                <span>{{ message }}</span>
            </div>
            {% endfor %}
            {% endif %}
            <input type="password" name="new_password" placeholder="New Password">
            <input type="password" name="new_password_repeat" placeholder="Repeat New Password">
            <input type="submit" value="Reset Password">
        </form>
    </div>
</div>
{% endblock %}