{% extends "navbar.html" %}
{% block links %}/static/css/account_edit.css{% endblock %}
{% block title %}Edit Account{% endblock %}
{% block content %}
<div class="columns-container">
    <div class="left-column">
        <div class="account-options">
            <a href="/account">Account Overview</a>
            <a class="active" href="/account_edit">Edit Account</a>
            <a href="/account_reset_password">Change Password</a>
            <a href="/billing">Billing and Payments</a>
            <a href="/account_delete">Delete Account</a>
        </div>
    </div>
    <div class="right-column">
        <span>Edit Account functions go here.</span>
    </div>
</div>
{% endblock %}