{% extends "navbar.html" %}
{% block links %}/static/css/account_reset_password.css{% endblock %}
{% block title %}Niner Miner | Reset Password{% endblock %}
{% block content %}
<div class="main-content">
    <form action="/account_reset_password", method="POST">
        {% if errors['current_password'] %}
        <div class="error">
            <span>{{ errors['current_password_str'] }}</span>
        </div>
        {% endif %}
        <label for="current_password">Enter current password:</label>
        <input type="password" name="current_password" placeholder="Current Password" autofocus>
        {% if errors['new_password'] %}
        {% for message in errors['new_password_str'] %}
        <div class="error">
            <span>{{ message }}</span>
        </div>
        {% endfor %}
        {% endif %}
        <label for="new_password">Enter new password:</label>
        <input type="password" name="new_password" placeholder="New Password">
        <label for="new_password_repeat">Repeat new password:</label>
        <input type="password" name="new_password_repeat" placeholder="Repeat New Password">
        <input type="submit" value="Reset Password">
    </form>
    <div class="return-to-account">
        <a href="/account">Cancel Password Reset</a>
    </div>
</div>
{% endblock %}