{% extends "navbar.html" %}
{% block links %}/static/css/account_edit.css{% endblock %}
{% block title %}My Account{% endblock %}
{% block content %}
<div class="columns-container">
    <div class="left-column">
        <div class="account-options">
            <a class="active" href="/account">Account Overview</a>
            <a href="/account_edit">Edit Account</a>
            <a href="/account_reset_password">Reset Password</a>
            <a href="/billing">Billing and Payments</a>
            <a href="/account_delete">Delete Account</a>
        </div>
    </div>
    <div class="right-column">
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="success">
                        <span>{{ message }}</span>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <div class="main-account">
            <div class="header-title">
                Account Information
            </div>
            <div class="details">
                <img src="../static/img/accounts/{{ user.id }}/account_img" alt="img">
                <p>
                    <b>{{user.name}}</b><br/>
                    {{user.email}}<br/>
                    UNCC ID #{{user.id}}<br/>
                    {{user.phone}} <br/>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}