{% extends "navbar.html" %}
{% block links %}/static/css/account.css{% endblock %}
{% block title %}Niner Miner | My Account{% endblock %}
{% block content %}
<div class="main-container">
    <div class="account-content">
        <div class="account-img">
            <img src="../static/img/accounts/{{ user.id }}/account_img">
            <a href="/account_change_img">Change Photo</a>
        </div>
        <div class="account-txt">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="success">
                        <span>{{ message }}</span>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <span>Name: <em>{{ user.name }}</em></span>
            <span>Email: <em>{{ user.email }}</em></span>
            <span>Student ID: <em>{{ user.id }}</em></span>
            <span>Phone #: {{ user.phone }}</span>
            <div class="account-links">
                <a href="/account_edit">Edit Account</a>
                <a href="/account_delete">Delete Account</a>
                <a href="/account_reset_password">Reset Password</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}