<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/index.css">
        <title>Log In</title>
    </head>
    <body>
        <div class="left-column">
            <div class="title">
                <span>Niner Miner</span>
            </div>
            <div class="tagline">
                <span>Buying and selling stuff,<br>exclusively for UNCC students.</span>
            </div>
            <div class="about">
                <a href="/about">Click Here to Learn More</a>
            </div>
        </div>
        <div class="right-column">
            <div class="login">
                <div class="login-title">
                    <span>Log In</span>
                </div>
                <div class="login-form">
                    <form action ="/" method="post">
                        <input class="textbox" name="email" type="text" placeholder="UNCC Email" autofocus><br>
                        <input class="textbox" name="password" type="password" placeholder="Password"><br>
                        <input class="form-submit" type="submit" value="Log In">
                    </form>
                </div>
                <div class="forgot-password">
                    <a href="/forgot_password">Forgot Password?</a>
                </div>
                <div class="signup">
                    <a href="/signup">Become a Member</a>
                </div>
            </div>
        </div>
    </body>
</html>