<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/index.css">
        <title>Niner Miner | Log In</title>
    </head>
    <body>
        <div class="left-column">
            <div class="title">
                <span>Niner Miner</span>
            </div>
            <div class="tagline">
                <span>Buying and selling stuff,<br>exclusively for UNCC students.</span>
            </div>
            <div class="about">
                <a href="/about">Click Here to Learn More</a>
            </div>
        </div>
        <div class="right-column">
            <div class="login">
                <div class="login-title">
                    <span>Log In</span>
                </div>
                <div class="login-form">
                    <form action ="/" method="post">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                <div class="flash">
                                    <span>{{ message }}</span>
                                </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        {% if errors['email'] %}
                        <div class="error">
                            <span>{{ errors['email_str'] }}</span>
                        </div>
                        {% endif %}
                        {% if info != None %}
                        <input class="textbox" name="email" type="text" placeholder="UNCC Email" value="{{ info['email'] }}" autofocus><br>
                        {% else %}
                        <input class="textbox" name="email" type="text" placeholder="UNCC Email" autofocus><br>
                        {% endif %}
                        {% if errors['password'] %}
                        <div class="error">
                            <span>{{ errors['password_str'] }}</span>
                        </div>
                        {% endif %}
                        <input class="textbox" name="password" type="password" placeholder="Password"><br>
                        <input class="form-submit" id="submit" type="submit" value="Log In">
                    </form>
                </div>
                <div class="forgot-password">
                    <a href="/forgot_password">Forgot Password?</a>
                </div>
                <div class="signup">
                    <a href="/signup">Become a Member</a>
                </div>
            </div>
        </div>
    </body>
</html>