<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="{% block links %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="#">Niner Miner</a>
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('product_feed') }}">Home</a></li>
                <li><a href="{{ url_for('post') }}">Post</a></li>
                <li><a href="{{ url_for('messages') }}">Messages</a></li>
                <li><a href="{{ url_for('my_items') }}">My Items</a></li>
                <li><a href="{{ url_for('account') }}">Account</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="../static/javascript/navbar.js"></script>
</body>
</html>