{% extends "navbar.html" %}
{% block links %}../static/css/post.css{% endblock %}
{% block title %}Niner Miner | Post New Item for Sale{% endblock %}
{% block content %}
    <div class="post">
        <div class="post-title">
            <span>Post An Item</span>
        </div>
        <div class="post-form">
            <form action="/post" method="post" enctype="multipart/form-data">
                <h2>1. Add Title</h2>
                {% if info['title'] != None %}
                <input class="text" type="text" name="title" placeholder="Listing Title" value="{{ info['title'] }}" autofocus>
                {% else %}
                <input class="text" type="text" name="title" placeholder="Listing Title" autofocus>
                {% endif %}
                <h2>2. Upload Item Images</h2>
                <!---<h3>This functionality will be added in later</h3> --->
                <label for="selectimage1">Select an image (required):</label>
                <input type="file" id="selectimage1" name="image1"><br>
                <label for="selectimage2">Image 2 (optional):</label>
                <input type="file" id="selectimage2" name="image2"><br>
                <label for="selectimage3">Image 3 (optional):</label>
                <input type="file" id="selectimage3" name="image3"><br>
                <label for="selectimage4">Image 4 (optional):</label>
                <input type="file" id="selectimage4" name="image4"><br>
                <label for="selectimage5">Image 5 (optional):</label>
                <input type="file" id="selectimage5" name="image5"><br>
                <!---I stopped right here-->
                <h2>3. Price</h2>
                {% if info['price'] != None %}
                <input class="text" type="number" min="0.01" step="0.01" name="price" placeholder="Enter Price in USD" value="{{ info['price'] }}">
                {% else %}
                <input class="text" type="number" name="price" placeholder="Enter Price in USD">
                {% endif %}
                <br>
                <h3>Fixed Price</h3>
                <input type="radio" id="fixedp" name="fixed" value="Fixed Price">
                <label for="fixedp">Fixed Price</label><br>
                <input type="radio" id="negotiate" name="fixed" value="Willing to Negotiate">
                <label for="negotiate">Willing to Negotiate</label><br>
                <br>
                <h2>4. Select Details</h2>
                <h3>Category</h3>
                <input type="radio" id="electronics" class="radio" name="category" value="Electronics">
                <label for="electronics">Electronics</label><br>
                <input type="radio" id="FandS" class="radio" name="category" value="Furniture & Storage">
                <label for="FandS">Furniture & Storage</label><br>
                <input type="radio" id="clothes" class="radio" name="category" value="Clothes & Accessories">
                <label for="clothes">Clothes & Accessories</label><br>
                <input type="radio" id="other" name="category" value="Other">
                <label for="other">Other</label><br>
                <br>
                <h3>Condition</h3>
                <input type="radio" id="new" name="condition" value="New">
                <label for="new">New</label><br>
                <input type="radio" id="used" name="condition" value="Lightly Used">
                <label for="used">Lightly Used</label><br>
                <input type="radio" id="hused" name="condition" value="Heavily Used">
                <label for="hused">Heavily Used</label><br>
                <input type="radio" id="other" name="condition" value="Other">
                <label for="other">Other</label><br>
                <br>
                <h3>Product/Model No. (optional)</h3>
                {% if info['extradetails'] != None %}
                <input class="text" type="text" name="extradetails" placeholder="Type here" value="{{ info['extradetails'] }}">
                {% else %}
                <input class="text" type="text" name="extradetails" placeholder="Type here">
                {% endif %}
                <h3>Description</h3>
                {% if info['description'] != None %}
                <input class="text" type="text" name="description" placeholder="Type here" value="{{ info['description'] }}">
                {% else %}
                <input class="text" type="text" name="description" placeholder="Type here">
                {% endif %}
                <br>
                <h2>5. Delivery Location</h2>
                <h3>I prefer meeting at: </h3>
                <input type="radio" id="studentunion" name="location" value="Popp Martin Student Union">
                <label for="studentunion">Student Union</label><br>
                <input type="radio" id="SoVi" name="location" value="SoVi at South Village Crossing">
                <label for="SoVi">SoVi Lounge</label><br>
                <input type="radio" id="atkins" name="location" value="J. Murrey Atkins Library">
                <label for="atkins">Atkins Library</label><br><br>
                <h3>Campus Map</h3><br>
                <div class="map">
                    <iframe
                    width="100%"
                    height="180"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA6M-Kj_ihTLu14Z2HGKgcxXQ9qqxJWUeU
                        &q=UNC Charlotte">
                </iframe>
                </div> <br>
                <input type="submit" name="submit_button" class="submit-post">
            </form>
        </div>
    </div>
{% endblock %}