{% extends "navbar.html" %}
{% block links %}../static/css/product_feed.css{% endblock %}
{% block title %}Product Feed{% endblock %}
{% block content %}
    <h1>Product Feed</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
                <span>{{ messages[0] }}</span>
            </div>
        {% endif %}
    {% endwith %}
    <!--<table>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Fixed price?</th>
            <th>Condition</th>
            <th>Description</th>
            <th>Location</th>
        </tr>

    {% for item in items %}
    <tr>
    <td>{{ item.title }}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.fixed }}</td>
    <td>{{ item.condition }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.location }}</td>
    </tr>
    {% endfor %}-->
    </table>
    <div class="feed">
        {% for item in items %}
        <a href="/product_detail/{{item.item_id}}">
        <div class="each-item">
            <img src="../static/empty.jpg" alt="img">
            <div class="title-price">
                <p>{{ item.title }}</p>
                <p>${{'%0.2f'|format(item.price|float)}}</p>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}