{% extends "navbar.html" %}
{% block links %}../static/css/product_detail.css{% endblock %}
{% block title %}Niner Miner | {{item.title}}{% endblock %}
{% block content %}
<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
    showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
    showSlides(slideIndex = n);
    }

    function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    }
</script>
<div class="container">
    <!--<main><h1>{{item.title}}</h1></main>-->
    <!-- Display Images
    <div id="content1">
            <img src="../static/img/accounts/{{ user.id }}/{{item.item_id}}image1" alt="img" width="100%" height="350px;">
    </div> -->
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
        <div class="numbertext">1 / 5</div>
        <img src="../static/img/accounts/{{ seller.seller_id }}/{{item.item_id}}image1" alt="img" style="width:100%">
        <!-- <div class="text">Caption Text</div> -->
        </div>
    
        <div class="mySlides fade">
        <div class="numbertext">2 / 5</div>
        <img src="../static/img/accounts/{{ seller.seller_id }}/{{item.item_id}}image2" alt="img" style="width:100%">
        <!-- <div class="text">Caption Text</div> -->
        </div>
    
        <div class="mySlides fade">
        <div class="numbertext">3 / 5</div>
        <img src="../static/img/accounts/{{ seller.seller_id }}/{{item.item_id}}image3" alt="img" style="width:100%">
        <!-- <div class="text">Caption Text</div> -->
        </div>
    
        <div class="mySlides fade">
        <div class="numbertext">4 / 5</div>
        <img src="../static/img/accounts/{{ seller.seller_id }}/{{item.item_id}}image4" alt="img" style="width:100%">
        <!-- <div class="text">Caption Text</div> -->
        </div>

        <div class="mySlides fade">
        <div class="numbertext">5 / 5</div>
        <img src="../static/img/accounts/{{ seller.seller_id }}/{{item.item_id}}image5" alt="img" style="width:100%">
        <!-- <div class="text">Caption Text</div> -->
        </div>
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
    </div>
    <br>
    
    <!-- The dots/circles -->
    
    <div class="item_detail">
        <h1 class="title">{{item.title}}</h1>
        <a href="#"><p class="subtitle">{{item.category}}</p></a>
        <p class="subtitle">
            Condition: <b>{{item.condition}}</b></p>
        <p class="description">
            {{item.description}}
            {% if item.extradetails != '' %}
                <br/><br/><b>Other Details:</b><br/>{{item.extradetails}}
           {% endif %}

        </p>
        </p>
        <p class="price" data-tooltip="Price is set to {{item.fixed}}">Price: ${{'%0.2f'|format(item.price|float)}}</p>
        {% if item.seller_id == current_user.id %}
        <br>
        <a href="{{ url_for('edit_item', product_id=item.item_id) }}">Edit Item</a>
        <br>
        <form action="{{ url_for('delete_item', product_id=item.item_id) }}" method="post">
            <input type="submit" value="Delete Item">
        </form>
        {% else %} 
            <button class="button btnbuy">Buy</button>
        {% endif %}
    </div>
    <div class="contact">
        <img src="../static/img/accounts/{{ seller.seller_id }}/account_img" alt="img">
        <p class="details">
            {{ seller.seller_name }} <br/>
            {{ seller.seller_email }}
        </p>
        <a class="button btncontact" href="/messages">Contact Seller</a>
        <p class="location">
            <b>Preferred Location</b><br/>
            {{item.location}}
        </p>
        <div class="map">
            <iframe
              width="100%"
              height="180"
              style="border:0"
              loading="lazy"
              allowfullscreen
              referrerpolicy="no-referrer-when-downgrade"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA6M-Kj_ihTLu14Z2HGKgcxXQ9qqxJWUeU
                &q={{item.location}}">
        </iframe>
        </div>
    </div>
    <!--<footer>Footer</footer>-->
</div>
{% endblock %}