{% extends "navbar.html" %}
{% block links %}../static/css/product_feed.css{% endblock %}
{% block title %}Niner Miner | Buy Stuff{% endblock %}
{% block content %}
    <div class="header">
        <h1>Product Feed</h1>
        <form class="search" method="GET">
            <select class="select-category" name="f">
                <option>All</option>
                <option>Electronics</option>
                <option>Furniture & Storage</option>
                <option>Clothes & Accessories</option>
                <option>Other</option>
            </select>
            <select id="selectTagWidth">
                <option id="widthTempOption"></option>
            </select>
            <input id="search" type="search" name="q" placeholder="Type here to search">
            <input type="submit" value="Search">
        </form>
    </div>
    {% if searched %}
        <h2 class="searched">Results for {{ searched }} in category  {{ filtered }}</h2>
    {% else %}
        {% if filtered != None %}
        <h2 class="searched">{{ filtered }}</h2>
        {% endif %}
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
                <span>{{ messages[0] }}</span>
            </div>
        {% endif %}
    {% endwith %}
    </table>
    <div class="feed">
        {% for item in items %}
        <a href="/product_detail/{{item.item_id}}">
        <div class="each-item">
            <img src="../static/img/accounts/{{ user.id }}/{{ item.item_id }}image1" alt="img">
            <div class="title-price">
                <p>{{ item.title }}</p>
                <p>${{'%0.2f'|format(item.price|float)}}</p>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}