<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/resend_validation.css">
        <title>Resend Validation</title>
    </head>
    <body>
        <div class="left-column">
            <div class="title">
                <span>Resend Validation Code via Email</span>
            </div>
            
        </div>
        <div class="right-column">
            <form action="/resend_validation" method="post">
                {% if errors['email'] %}
                <div class="error">
                    <span>{{ errors['email_str'] }}</span>
                </div>
                {% endif %}
                <input type="text" name="email" placeholder="UNCC Email" autofocus>
                <input type="submit" class="submit-button" value="Validate Account">
            </form>
        </div>
    </body>
</html>