<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/signup.css">
        <title>Sign Up</title>
    </head>
    <body>
        <div class="left-column">
            <div class="title">
                <span>Join Niner Miner</span>
            </div>
            <div class="reminder">
                <span>Reminders</span>
            </div>
            <div class="reminder-text">
                <ul>
                    <li>Only UNCC students can use this service</li>
                    <li>You must sign up with a valid UNCC email</li>
                    <li>Password must have 8 or more characters</li>
                </ul>
            </div>
            <div class="nav">
                <a class="nav-left" href="/">Back to Login</a>
                <a class="nav-right" href="/validate">Validate Account</a>
            </div>
        </div>
        <div class="right-column">
            <div class="signup">
                <div class="signup-title">
                    <span>New Student Info</span>
                </div>
                <div class="signup-form">
                    <form action="/signup" method="post">
                        {% if info['name'] != None %}
                        <input type="text" name="name" placeholder="Full Name" value="{{ info['name'] }}" autofocus>
                        {% else %}
                        <input type="text" name="name" placeholder="Full Name" autofocus>
                        {% endif %}
                        {% if info['id'] != None %}
                        <input type="text" name="id" placeholder="UNCC ID#" value="{{ info['id'] }}">
                        {% else %}
                        <input type="text" name="id" placeholder="UNCC ID#">
                        {% endif %}
                        {% if info['phone'] != None %}
                        <input type="text" name="phone" placeholder="Phone #" value="{{ info['phone'] }}">
                        {% else %}
                        <input type="text" name="phone" placeholder="Phone #">
                        {% endif %}
                        <br>
                        {% if errors['email'] %}
                        <div class="error">
                            <span>{{ errors['email_str'] }}</span>
                        </div>
                        {% endif %}
                        {% if info['email'] != None %}
                        <input type="text" name="email" placeholder="UNCC Email" value="{{ info['email'] }}">
                        {% else %}
                        <input type="text" name="email" placeholder="UNCC Email">
                        {% endif %}
                        {% if errors['password'] %}
                        <div class="error">
                            {% for message in errors['password_str'] %}
                            <span>{{ message }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <input type="password" name="password" placeholder="Password">
                        <input type="password" name="passwordRepeat" placeholder="Repeat Password">
                        <input type="submit" class="submit-signup">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>