body {
    font-family: Norwester;
    font-size: 24px;
}
@font-face {
    font-family: Norwester;
    src: url(../fonts/norwester.otf);
}

/*  account styling */

.main-container {
    width: 100vw;
}
.account-content {
    display: flex;
    flex-wrap: wrap;
}
.account-content span {
    display: block;
}
.account-img img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    margin: 20px;
    display: block;
}
.account-img a {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 20px;
    background-color: #A49665;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    transition: 250ms;
}
.account-img a:hover, a:focus {
    background-color: black;
    color: #A49665;
    cursor: pointer;
}
.account-txt {
    display: block;
    margin-top: 50px;
    margin-left: 20px;
}
.account-txt span {
    margin-left: 10px;
    margin-top: 10px;
}
.account-links a {
    display: inline-block;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #A49665;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    transition: 250ms;
}
.account-links a:hover, a:focus {
    background-color: black;
    color: #A49665;
    cursor: pointer;
}

/* flash message styling */

.success {
    background-color: rgb(3, 218, 14);
    color: black;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
}
.success span {
    display: block;
}