body {
    font-family: Norwester;
}
@font-face {
    font-family: Norwester;
    src: url(../fonts/norwester.otf);
}


/* main content styling */

.main-content {
    background-color: #005035;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    font-size: 24px;
}
.main-content form {
    border-radius: 10px;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    font-size: 24px;
}
.main-content input {
    display: block;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    border-radius: 10px;
    padding: 5px;
}
.main-content label {
    color: #A49665;
    margin-left: 30px;
}
.main-content input[type=submit] {
    margin: 0 auto;
    width: fit-content;
    padding: 20px;
    font-family: Norwester;
    background-color: #A49665;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    transition: 250ms;
}
.main-content input[type=submit]:hover, input[type=submit]:focus {
    cursor: pointer;
    background-color: black;
    color: #A49665;
}
.return-to-account a {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 20px;
    background-color: #A49665;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    transition: 250ms;
}
.return-to-account a:hover, a:focus {
    background-color: black;
    color: #A49665;
    cursor: pointer;
}
.error {
    background-color: rgb(218, 3, 3);
    color: black;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
}
.error span {
    display: block;
}
.success {
    background-color: rgb(3, 218, 14);
    color: black;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
}
.success span {
    display: block;
}