/* whole document styling */

body {
    margin: 0;
    padding: 0;
    font-family: Norwester;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
@font-face {
    font-family: Norwester;
    src: url(../fonts/norwester.otf);
}

 /* left column */

.left-column {
    width: 48vw;
    height: 100vh;
    background-color: #005035;
    text-align: center;
    margin: 0;
    padding: 0;
}
.title {
    font-size: 90px;
    margin-top: 300px;
    display: block;
}
.reminder {
    font-size: 40px;
    color: #A49665;
    margin-top: 50px;
}
.reminder ul {
    width: auto;
    margin: 0 auto;
}
.reminder-text ul li {
    margin: 10px auto;
    font-size: 24px;
    width: fit-content;
}
.nav {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.nav a {
    display: inline;
    font-size: 32px;
    color: black;
    background-color: #A49665;
    text-decoration: none;
    padding: 10px;
    margin: 0;
    width: fit-content;
    transition: 250ms;
}
.nav-left {
    border-radius: 10px;
}
.nav-right {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.nav a:hover {
    background-color: black;
    color: #A49665;
}

 /* right column */

.right-column {
    width: 48vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.forgot-password {
    width: 500px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    background-color: #005035;
    border-radius: 10px;
    text-align: center;
}
.forgot-password-form form input {
    display: block;
    margin: 10px auto;
    font-size: 32px;
    width: 80%;
    border-radius: 10px;
    padding: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.forgot-password-form form input:focus {
    background-color: hsl(160, 100%, 78%);
}
.submit-forgot-password {
    color: black;
    background-color: #A49665;
    font-size: 24px;
    transition: 250ms;
}
.submit-forgot-password:hover {
    background-color: black;
    color: #A49665;
    cursor: pointer;
}
.error {
    background-color: rgb(218, 3, 3);
    color: black;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
}
.error span {
    display: block;
}

 /* styling for small/mobile displays */
@media only screen and (max-width: 1200px) {
    .left-column {
        width: 98vw;
        height: auto;
    }
    .title {
        margin-top: 20px;
    }
    .login {
        margin-bottom: 20px;
    }
    .right-column {
        width: 98vw;
        height: auto;
    }
    .signup {
        margin-top: 20px;
    }
}