/* whole document styling */
body {
   margin: 0;
   padding: 0;
   font-family: Norwester;
   color: white;
}
@font-face {
   font-family: Norwester;
   src: url(../fonts/norwester.otf);
}
/* left column */
.left-column {
   display: inline-block;
   width: 48vw;
   height: 100vh;
   background-color: #005035;
   text-align: center;
}
.title {
   font-size: 100px;
   font-weight: 700;
   font-style: italic;
   letter-spacing: 2px;
   margin-top: 300px;
   margin-bottom: 20px 0;
}
.tagline {
   font-size: 40px;
   margin: 20px 0;
   color: #A49665;
}
.about a {
   display: block;
   background-color: #A49665;
   color: black;
   border-radius: 10px;
   padding: 20px;
   font-size: 24px;
   width: 300px;
   margin: 0 auto;
   text-decoration: none;
}

/* right column */
.right-column {
   display: inline-block;
   width: 48vw;
   height: 100vh;
}
.login {
   background-color: #005035;
   width: 400px;
   height: auto;
   border-radius: 10px;
   text-align: center;
   padding: 20px;
   margin: auto auto;
}
.login-title {
   font-size: 50px;
   font-weight: 700;
}
.login-form form input {
   margin: 10px 0;
   font-size: 32px;
}
.login-form form input:focus {
   background-color: rgb(53, 147, 255);
   color: white;
}
.form-submit {
   color: black;
   background-color: #A49665;
   border-radius: 10px;
   padding: 10px;
   font-family: Norwester;
}
.forgot-password a {
   color: #A49665;
   font-size: 28px;
   text-decoration: none;
   margin: 10px 0;
}
.signup a {
   display: block;
   background-color: #A49665;
   color: black;
   border-radius: 10px;
   padding: 20px;
   font-size: 24px;
   width: 300px;
   margin: 10px auto;
   text-decoration: none;
}

/* styling for small/mobile screens */

@media only screen and (max-width: 1180px) {
   .left-column {
      display: block;
      width: 98vw;
      height: auto;
      padding: 20px 0;
   }
   .title {
      margin-top: 0;
      font-size: 70px;
   }
   .right-column {
      display: block;
      width: 98vw;
      height: auto;
      margin: 20px 0;
   }
}