/* whole document styling */
body {
   margin: 0;
   padding: 0;
   font-family: Norwester;
   color: white;
}
@font-face {
   font-family: Norwester;
   src: url(../fonts/norwester.otf);
}
/* left column */
.left-column {
   display: inline-block;
   width: 48vw;
   height: 100vh;
   background-color: #005035;
   text-align: center;
}
.title {
   font-size: 100px;
   font-weight: 700;
   font-style: italic;
   letter-spacing: 2px;
   margin-top: 300px;
   margin-bottom: 20px 0;
}
.tagline {
   font-size: 40px;
   margin: 20px 0;
   color: #A49665;
}
.about a {
   display: block;
   background-color: #A49665;
   color: black;
   border-radius: 10px;
   padding: 20px;
   font-size: 24px;
   width: 300px;
   margin: 0 auto;
   text-decoration: none;
   transition: 250ms;
}
.about a:hover {
   background-color: black;
   color: #A49665;
}

/* right column */
.right-column {
   display: inline-block;
   width: 48vw;
   height: 100vh;
}
.login {
   background-color: #005035;
   width: 400px;
   height: auto;
   border-radius: 10px;
   text-align: center;
   padding: 20px;
   margin: auto auto;
   transition: 400ms;
}
.login-title {
   font-size: 50px;
   font-weight: 700;
}
.textbox {
   margin: 10px 0;
   font-size: 32px;
   font-family: Norwester;
   transition: 400ms;
   width: 80%;
}
.textbox:focus {
   background-color: hsl(160, 100%, 78%);
}
.form-submit {
   color: black;
   background-color: #A49665;
   border-radius: 10px;
   padding: 10px;
   margin: 10px auto;
   font-family: Norwester;
   font-size: 32px;
   transition: 250ms;
   width: 80%;
}
.form-submit:hover, .form-submit:focus {
   background-color: black;
   color: #A49665;
   cursor: pointer;
}
.forgot-password a {
   color: #A49665;
   display: block;
   font-size: 18px;
   text-decoration: none;
   margin: 20px auto;
   width: 80%;
   transition: 250ms;
}
.forgot-password a:hover, a:focus {
   color: black;
}
.flash {
   background-color: rgb(3, 218, 14);
   color: black;
   padding: 10px;
   margin: 10px auto;
   width: 80%;
   border-radius: 10px;
}
.flash span {
   display: block;
}

.signup a {
   display: block;
   background-color: #A49665;
   color: black;
   border-radius: 10px;
   padding: 20px 0;
   font-size: 24px;
   width: 80%;
   margin: 20px auto;
   text-decoration: none;
   transition: 250ms;
}
.signup a:hover, a:focus {
   background-color: black;
   color: #A49665;
}
.error {
   background-color: rgb(218, 3, 3);
   color: black;
   padding: 10px;
   margin: 10px auto;
   width: 80%;
   border-radius: 10px;
}
.error span {
   display: block;
}

/* styling for small/mobile screens */

@media only screen and (max-width: 1180px) {
   .left-column {
      display: block;
      width: 98vw;
      height: auto;
      padding: 20px 0;
   }
   .title {
      margin-top: 0;
      font-size: 70px;
   }
   .right-column {
      display: block;
      width: 98vw;
      height: auto;
      margin: 20px 0;
   }
}