body {
    margin: 0;
    padding: 0;
    font-family: Norwester;
    color: black;
}

@font-face {
    font-family: Norwester;
    src: url(../fonts/norwester.otf);
}

.form-action {
    border-radius: 8px;
    background-color: #005035;
    text-align: center;
    width: 600px;
    margin: 10px auto;
    padding: 20px 0;
    color: #A49665;
}

h1 {
    color: #A49665;
    text-align: center;
}

.post-form form input:focus {
    background-color: hsl(160, 100%, 78%);
}
.text {
    display: inline;
    margin: 10px 10px;
    font-size: 32px;
    width: 80%;
    border-radius: 10px;
    padding: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.radio-group {
    text-align: left;
    width: 175px;
    margin: auto;
}
.radio {
    width: auto;
}
.submit-post {
    color: black;
    background-color: #A49665;
    font-size: 24px;
    transition: 250ms;
}
.error {
    background-color: rgb(218, 3, 3);
    color: black;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
}
.error span {
    display: block;

}