body {
    font-family: Norwester;
    color: black;
    text-align: center;
}

@font-face {
    font-family: Norwester;
    src: url(../fonts/norwester.otf);
}

h1 {
    display: inline-block;
    
    vertical-align: middle;
}

.select-category {
    padding-left: 5px;
    font-size: 15px;
    width: 75px;
    height: 35px;
    margin: -5px;
    border-radius: 10px 0 0 10px;
    border: 1px solid black;
}

#selectTagWidth {
    display: none;
}

.search {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.search input[type=search] {
    width: 600px;
    height: 35px;
    padding-left: 10px;
    font-size: 15px;
    border-right: none;
    border-left: none;
    border: 1px solid black;
}

.search input[type=submit] {
    height: 35px;
    width: 75px;
    font-size: 15px;
    margin-left: -5px;
    border-radius: 0 10px 10px 0;
    border: 1px solid black;
}

img {
    width: 250px;
    height: 250px;
}

.feed {
    margin: 20px 110px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-gap: 35px;
    
}

.each-item {
    border-radius: 8px;
    box-shadow: 10px 10px 10px gray;
    overflow: hidden;
}
.flash {
    background-color: rgb(3, 218, 14);
    color: black;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
 }
 .flash span {
    display: block;
 }