body {
    font-family: Norwester;
    color: black;
    text-align: center;
}

@font-face {
    font-family: Norwester;
    src: url(../fonts/norwester.otf);
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

.search {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.search input[type=search] {
    max-width: 500px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    border-right: none;
    border-radius: 10px 0 0 10px;
}

.search input[type=submit] {
    padding: 5px;
    font-size: 15px;
    margin-left: -5px;
    border-radius: 0 10px 10px 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #A49665;
    color: black;
    transition: 250ms;
}
.search input[type=search]:focus {
    background-color: hsl(160, 100%, 78%);
}
.search input[type=submit]:focus {
    cursor: pointer;
    background-color: black;
    color: #A49665;
}

img {
    width: 250px;
    height: 250px;
}

.feed {
    margin: 20px 110px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-gap: 35px;
    
}

.each-item {
    border-radius: 8px;
    box-shadow: 10px 10px 10px gray;
    overflow: hidden;
}
.flash {
    background-color: rgb(3, 218, 14);
    color: black;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
 }
 .flash span {
    display: block;
 }