body {
    font-family: Norwester;
    color: black;
    text-align: center;
}

@font-face {
    font-family: Norwester;
    src: url(../fonts/norwester.otf);
}

img {
    width: 250px;
    height: 250px;
}

.feed {
    margin: 20px 110px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-gap: 35px;
    
}

.each-item {
    border-radius: 8px;
    box-shadow: 10px 10px 10px gray;
    overflow: hidden;
}
.flash {
    background-color: rgb(3, 218, 14);
    color: black;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
 }
 .flash span {
    display: block;
 }