/* whole document styling */
body {
    margin: 0;
    padding: 0;
    font-family: Norwester;
    color: white;
}
@font-face {
    font-family: Norwester;
    src: url(../fonts/norwester.otf);
}

header {
    min-height: 80px;
    background-color: #005035;
    padding: 20px;
}
header span {
    font-size: 70px;
    font-style: italic;
    letter-spacing: 2px;
}
.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: sans-serif;
}
.introduction {
    background-color: #005035;
    padding: 10px 20px;
    max-width: 800px;
    margin: 10px;
}
h2 {
    color: #A49665;
    font-size: 36px;
}
p {
    font-size: 28px;
}
ul li {
    font-size: 28px;
}
.requirements {
    padding: 10px 20px;
    background-color: #005035;
    max-width: 800px;
    margin: 10px;
}
#disabled {
    color: red;
}
#back-to-login {
    display: block;
    background-color: #A49665;
    color: black;
    border-radius: 10px;
    padding: 20px;
    font-size: 24px;
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    transition: 250ms;
}
#back-to-login:hover {
    background-color: black;
    color: #A49665;
}

/* dev team cards */


#dev-team-title {
    font-size: 70px;
    font-style: italic;
    letter-spacing: 2px;
    padding: 20px;
    background-color: #005035;
    display: block;
    margin: 10px 0;
    width: 100vw;
}

.dev-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: sans-serif;
}
.dev-card {
    max-width: 400px;
    margin: 10px 20px;
    background-color: #005035;
    border-radius: 10px;
}
.dev-card-content {
    margin: 20px;
}
.dev-card-content img {
    display: block;
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin: 20px auto;
}
.dev-card-content p {
    margin: 0 auto;
}