body {
    font-family: Lato;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}
.columns-container {
    display: flex;
    height: 90vh;
}

/*  left column styling */

.left-column {
    width: 18vw;
    height: 92vh;
    background-color: #005035;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.account-options {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
.account-options a {
    height: auto;
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}
.account-options a:hover, a:focus {
    color: black;
    background-color: #A49665;
    font-weight: 600;
}
.active {
    background-color: #A49665;
}

/* right column styling */

.right-column {
    width: 80vw;
}
.success {
    background-color: #449742;
    color: white;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
}
.success span {
    display: block;
}

/* account main block */
.main-account{
    display: block;
    margin: 30px auto 30px auto;
    border: 2px solid #004F34;
    width: 80%;
}

.main-account .header-title{
    background: #004F34;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.main-account .details{
    background: white;
    padding: 30px;
    font-size: 16px;
    text-align: center;
    color: #2B313C;
    overflow-x:auto;
}

.details img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.details table {
  text-align: left;
}

.details table input[type=text], input[type=email], input[type=number], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]{
  width: 40%;
  background-color: #004F34; /* Green */
  padding: 12px 12px;
  margin: 30px 0 20px 0;
  font-size: 16px;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.details p {
    margin: 20px;
    line-height: 1.5;
}

label{
    margin: 20px;
    line-height: 1.5;
}

@media all and (max-width:500px){
    table{
        width:100%;
    }

    td{
        display:block;
        width:100%;
    }

    tr{
        display:block;
        margin-top: 20px;
    }

    label{
        line-height: 1.2;
        margin: 0;

    }
}