body {
    font-family: Norwester;
    color: black;
    text-align: center;
}

@font-face {
    font-family: Norwester;
    src: url(../fonts/norwester.otf);
}

.header {
    display: grid;
}

.select-category {
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
    width: 75px;
    height: 35px;
    margin: -5px;
    border-radius: 10px 0 0 10px;
    border: 1px solid black;
    cursor: pointer;
}

#selectTagWidth {
    display: none;
}

.search input[type=search] {
    width: 50vw;
    height: 35px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    border-right: none;
    border-left: none;
    border: 1px solid black;
}

.search input[type=submit] {
    padding: 5px;
    font-size: 20px;
    margin-left: -5px;
    border-radius: 0 10px 10px 0;
    border: 1px solid black;
    font-weight: bold;
    background-color: #A49665;
    color: black;
    transition: 250ms;
    cursor: pointer;
    height: 35px;
}
.search input[type=search]:focus {
    background-color: hsl(160, 100%, 78%);
}
.search input[type=submit]:focus {
    cursor: pointer;
    background-color: black;
    color: #A49665;
}

img {
    width: 100%;
    overflow: hidden;
}

.feed {
    margin: 20px 110px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 35px;
}

.feed > a {
    text-decoration: none;
}

.each-item {
    border-radius: 8px;
    box-shadow: 10px 10px 10px gray;
    overflow: hidden;
    background-color: #005035;
}

.title-price > p {
    color: #A49665;
}

.flash {
    background-color: rgb(3, 218, 14);
    color: black;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
 }
 .flash span {
    display: block;
 }