{% extends "navbar.html" %}
{% block links %}<link rel="stylesheet" href="../static/css/account.css">
<link rel="stylesheet" href="../static/css/global.css">{% endblock %}
{% block title %}Edit Account{% endblock %}
{% block content %}
<div class="columns-container">

    <div class="right-column">
        <div class="main-account">
            <div class="header-title">
                Reset Password
            </div>
            <div class="details">
                <form action="/account_reset_password", method="POST">
                <table width="100%">
                    <tr>
                        <td width="20%"><label><b>Current Password</b></label></td>
                        <td width="80%">
                            <input type="password" id="current_password" name="current_password" placeholder="Enter current password" autofocus required>
                            {% if errors['current_password'] %}
                            <div class="error">
                                <span>{{ errors['current_password_str'] }}</span>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                     <tr>
                        <td width="20%"><label><b>New Password</b></label></td>
                        <td width="80%">
                            <input type="password" id="new_password" name="new_password" placeholder="Enter new password" required>
                            {% if errors['new_password'] %}
                            {% for message in errors['new_password_str'] %}
                            <div class="error">
                                <span>{{ message }}</span>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td width="20%"><label><b>Re-enter Password</b></label></td>
                        <td width="80%"><input type="password" id="new_password_repeat" name="new_password_repeat" placeholder="Re-enter new password" required></td>
                    </tr>

                     <tr>
                        <td colspan="2" style="text-align: center;">
                            <input type="submit" value="RESET PASSWORD">
                            <a class="btn-cancel" href="/account"> Cancel </a>
                        </td>
                    </tr>
                </table>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}