<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/forgot_password.css">
        <title>Niner Miner | Forgot Password</title>
    </head>
    <body>
        <div class="left-column">
            <div class="title">
                <span>Forgot Your Password?</span>
            </div>
            <div class="reminder">
                <span>Reminders</span>
            </div>
            <div class="reminder-text">
                <p>
                    Use your UNCC email and UNCC ID number to reset your password.
                    Once reset, you will be redirected to the Login page so you
                    use the new password to sign in.
                </p>
            </div>
            <div class="nav">
                <a class="nav-left" href="/">Back to Login</a>
            </div>
        </div>
        <div class="right-column">
            <div class="forgot-password">
                <div class="forgot-password-form">
                    <form action="/forgot_password" method="post">
                        {% if errors['email'] %}
                        <div class="error">
                            <span>{{ errors['email_str'] }}</span>
                        </div>
                        {% endif %}
                        {% if user_info['email'] != None %}
                        <input type="text" name="email" placeholder="UNCC Email" value="{{ user_info['email'] }}" autofocus>
                        {% else %}
                        <input type="text" name="email" placeholder="UNCC Email" autofocus>
                        {% endif %}
                        {% if errors['id'] %}
                        <div class="error">
                            <span>{{ errors['id_str'] }}</span>
                        </div>
                        {% endif %}
                        {% if user_info['id'] != None %}
                        <input type="text" name="id" placeholder="UNCC ID#" value="{{ user_info['id'] }}">
                        {% else %}
                        <input type="text" name="id" placeholder="UNCC ID#">
                        {% endif %}
                        <br>
                        {% if errors['password'] %}
                        <div class="error">
                            {% for message in errors['password_str'] %}
                            <span>{{ message }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <input type="password" name="password" placeholder="New Password">
                        <input type="password" name="passwordRepeat" placeholder="Repeat New Password">
                        <input type="submit" class="submit-forgot-password">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>