{% extends "navbar.html" %}
{% block links %}<link rel="stylesheet" href="../static/css/my_items.css">
<link rel="stylesheet" href="../static/css/global.css">{% endblock %}
{% block title %}Niner Miner | My Items{% endblock %}
{% block content %}
<div class="header">
    <h1>Your Items For Sale</h1>
    <a class="new-post" href="/post">Post a New Item for Sale</a>
</div>
<div class="feed">
    {% for item in items %}
    {% if item.seller_id == current_user.id %}
    <a href="/product_detail/{{item.item_id}}">
    <div class="each-item">
        <img src="{{ item.img_path_relative }}" alt="img">
        <div class="title-price">
            <p>{{ item.title }}</p>
            <p>${{'%0.2f'|format(item.price|float)}}</p>
        </div>
    </div>
    </a>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}