{% extends "navbar.html" %}
{% block links %}<link rel="stylesheet" href="../static/css/product_detail.css">
<link rel="stylesheet" href="../static/css/global.css">{% endblock %}
{% block js %} <script type="text/javascript" src="../static/javascript/slideshow.js"></script> {% endblock %}
{% block title %}Niner Miner | {{item.title}}{% endblock %}
{% block content %}
<div class="container">
    <!--<main><h1>{{item.title}}</h1></main>-->
    <!-- Display Images -->
    <!-- Slideshow container -->
    <div class="slideshow-container">
        <img id="currImg" src="{{ item.item_img }}" width="600px" height="auto">
        <div class="arrows">
            <div class="arrow" id="prev-arrow" onclick="prevImg()">Prev</div>
            <div class="arrow" id="next-arrow" onclick="nextImg()">Next</div>
        </div>
    </div>
    <br>
    
    <!-- The dots/circles -->
    
    <div class="item_detail">
        <h1 class="title">{{item.title}}</h1>
        <a href="#"><p class="subtitle">{{item.category}}</p></a>
        <p class="subtitle">
            Condition: <b>{{item.condition}}</b></p>
        <p class="description">
            {{item.description}}
            {% if item.extradetails != '' %}
                <br/><br/><b>Other Details:</b><br/>{{item.extradetails}}
            {% endif %}
            {{ item.item_img }}
        </p>
        </p>
        <p class="price" data-tooltip="Price is set to {{item.fixed}}">Price: ${{'%0.2f'|format(item.price|float)}}</p>

        {% if item.seller_id == current_user.id %}
        <br>
        <a href="{{ url_for('edit_item', product_id=item.item_id) }}" class="submit-button">Edit Item</a>
        <br>
        <form action="{{ url_for('delete_item', product_id=item.item_id) }}" method="post">
            <input type="submit" class="submit-button" value="Delete Item">
        </form>
        {% else %} 
            <a class="button btnbuy" href="/process_transaction/{{ item.item_id }}">Buy</a>
        {% endif %}
    </div>
    <div class="contact">
        <img src="../static/img/accounts/{{ seller.seller_id }}/account_img" alt="img">
        <p class="details">
            {{ seller.seller_name }} <br/>
            {{ seller.seller_email }}
        </p>
        <a class="button btncontact" href="/messages">Contact Seller</a>
        <p class="location">
            <b>Preferred Location</b><br/>
            {{item.location}}
        </p>
        <div class="map">
            <iframe
              width="100%"
              height="180"
              style="border:0"
              loading="lazy"
              allowfullscreen
              referrerpolicy="no-referrer-when-downgrade"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA6M-Kj_ihTLu14Z2HGKgcxXQ9qqxJWUeU
                &q={{item.location}}">
        </iframe>
        </div>
    </div>
    <!--<footer>Footer</footer>-->
</div>
{% endblock %}