<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/validate.css">
        <title>Niner Miner | Validate Account</title>
    </head>
    <body>
        <div class="left-column">
            <div class="title">
                <span>Validate Your Account</span>
            </div>
            <div class="description">
                <span>Check your UNCC Email for the validation code</span>
                <span>If you do not see the code in your inbox,<br> use the "Resend Email" link below.</span>
            </div>
            <div class="nav">
                <a class="nav-left" href="/">Back to Login</a>
                <a class="nav-right" href="/resend_validation">Resend Email</a>
            </div>
        </div>
        <div class="right-column">
            <form action="/validate" method="post">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash">
                            <span>{{ messages[0] }}</span>
                        </div>
                    {% endif %}
                {% endwith %}
                {% if errors['email'] %}
                <div class="error">
                    <span>{{ errors['email_str'] }}</span>
                </div>
                {% endif %}
                <input type="text" name="email" placeholder="UNCC Email" autofocus>
                {% if errors['code'] %}
                <div class="error">
                    <span>{{ errors['code_str'] }}</span>
                </div>
                {% endif %}
                <input type="text" name="code" placeholder="6-Digit Code">
                <input type="submit" class="submit-button" value="Validate Account">
            </form>
        </div>
    </body>
</html>